/* X-Small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 320.98px) and (max-width: 575.98px) { 
  .language{
      display: unset;
  }
  .navbar-dark .navbar-brand{
    margin: 0 auto;
  }
  .assets-icon > div > .home-icon {
    padding: 0.3rem 5px;
    margin-left: 0;
}
.trylucky {
  padding: 0 4rem;
  width: auto;
  transform: scale(1) !important;  
}
  #industries{
      flex-direction: column;
  }
  #industries .verticalHeading{
      margin: 0 auto;
  }
 .verticalHeading h3{
      writing-mode:unset;
      text-orientation: mixed;
      transform:unset;
      padding: 1rem 5rem;
      font-size: 1.5rem;
  }
  .verticalTitle_box h3{padding: 4.5rem 9px;}
  .indusWrap{
      width: 65%;
      margin-bottom: 2rem;
  }
  .indusWrap .indusCat:nth-child(2){
      padding: 12rem 14%;
      clip-path: polygon(0% 42%, 100% 5%, 98% 100%, 0% 100%);
  }
  #surfaces .verticalHeading h3 {       
      padding: 0.5rem 10rem;      
      
    }
    .surfacePatch {
      flex: 1 0 34%;
    }
    #store .verticalHeading h3 {
      padding: 1.1rem 13rem;
    }
    .storeText p{
      font-size: 1rem;
    }
    .storeText h4{
      font-size: 2rem;
    }
    .applicator .verticalHeading h3.home {
      text-align: center;
      padding: 1.2rem 0;
      font-size: 2rem;
    }
    .application-content.home {
      width: 80%;
      margin: 95px;
    }
    #latest .verticalHeading h3 {
      padding: 1rem 4rem;
      font-size: 2rem;
    }
    .text-white {
      font-size: 1.2rem !important;
    }
    .block .info{
      width: 100%;
      padding: 1.5rem 1rem;
    }
    .block .info h3::after {
      top: 88px;
    }
    #socilaMedia .verticalHeading h3 {
      padding: 1rem 5.4rem;
      font-size: 2rem;
    }
    #feedback .verticalHeading h3 {
      padding: 1rem 5rem;
    }
    .feedgrid{
      border-left: 0;
    }
    .rationalhead p {
      font-size: 2.5rem;}
      #relevant .verticalHeading h3 {
          padding: 1rem 8rem;
        }
        .relBlock{
          width: 100%;
        }
        .applicator .verticalHeading h3 {
          padding: 1rem 7.1rem;
          text-align: center;
        }
        .application-content{
          width: 100%;
        }
        #rational{
          min-height: 300px;
        }
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 767.98px) { 
.language{
  display: unset;
}
.language a{
  font-size: 0.7rem;
}
#musthead .navbar-nav .nav-item .nav-link::after{
  content: '';
}
.navbar-dark .navbar-brand{
  margin: 0 auto;
  
}
.navbar-dark .navbar-toggler{
  border-color: transparent;
}
.logos{
  height: 50px;
}
.herobg{
  background: url('../images/mobile-bg.jpg') no-repeat center;
  background-size: cover;
  min-height: 570px;
}
.card-img-overlay{
  padding: 0;
}
.assets-icon{
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}
.trylucky {
  top: 6rem;
  right: 1rem;
}
.trylucky a{
  font-size: 13px;
  text-decoration: none;
  color: #fff
}
.chatIcon{
  bottom:1rem;
  left: 1rem;
  right: unset;
}
.chatIcon a {
  font-size: 11px;
  text-decoration: none;
  color: #fff
}
.chatIcon a:hover, .trylucky a:hover{
  text-decoration: underline;
} 
.assets-icon > div > .home-icon {
  transform: scale(0.75);
  padding: 0;
  width: 100%;
}
#industries{
  flex-direction: column;
  padding: 0;
}
#industries .verticalHeading{
  margin: 0 auto;
}
#technicalReport > .verticalHeading h3 {
  background-color: #655F54;
  padding: 0.5rem 8rem;
}
#rational .verticalHeading h3 {
  padding: 0.5rem 8rem;
}
.verticalHeading h3{
  writing-mode:unset;
  text-orientation: mixed;
  transform:unset;
  padding: 1rem 5rem;
  font-size: 1.5rem;
}
.verticalTitle_box h3{padding: 4.5rem 9px;}
.indusWrap{
  width: 65%;
  margin-bottom: 2rem;
}
.indusWrap .indusCat:nth-child(2){
  padding: 12rem 14%;
  clip-path: polygon(0% 42%, 100% 5%, 98% 100%, 0% 100%);
}
#surfaces .verticalHeading h3 {       
  padding: 0.5rem 10rem;      
  
}
.surfacePatch {
  flex: 1 0 49%;
  height: 192px;
}
#store .verticalHeading h3 {
  padding: 1.1rem 13rem;
}
.storeText p{
  font-size: 1rem;
}
.storeText h4{
  font-size: 1.5rem;
}
.applicator.home{
  background: url('../images/application-mob-bg.png') center center;
}
.applicator .verticalHeading h3.home {
  text-align: center;
  padding: 1.2rem 0;
  font-size: 1.5rem;
}
.application-content.home .apptext {
  margin-top: 0rem;
  font-size: 1.5rem;
}
/* .application-content.home {
  width: 80%;
  margin: 95px;
} */
#latest .verticalHeading h3 {
  padding: 1rem 4rem;
  font-size: 1.5rem;
}
.text-white {
  font-size: 1.2rem !important;
}
.block .info{
  width: 100%;
  padding: 1.5rem 1rem;
}
.block .info h3::after {
  top: 88px;
}
#socilaMedia .verticalHeading h3 {
  padding: 1rem 5.4rem;
  font-size: 2rem;
}
#feedback .verticalHeading h3 {
  padding: 1rem 8rem;
}
.feedgrid{
  border-left: 0;
}
.rationalhead p {
  font-size: 2rem;
  padding: 2rem 0;
}
  #relevant .verticalHeading h3 {
      padding: 1rem 8rem;
    }
    .relBlock{
      width: 100%;
    }
    .applicator .verticalHeading h3 {
      padding: 0.5rem 8rem;
      text-align: center;
    }
    .application-content{
      width: 100%;
    }
    #rational{
      min-height: 300px;
    }
    .footerLinks.socilaMedia h3::after {
      content: '';
      position: absolute;
      width: 38%;
      height: 1px;
      background-color: #FEBE10;
      left: 32%;
      bottom: -3px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 991.98px) { 
.verticalTitle_box.bot h3{
  padding: 6rem 8px;
}
.indusWrap {
  flex: 1 0 20%;
  position: relative;
}
.surfacewrapper {
  padding: 0 ;
}
.block{
  width: 100%;
}
.footerAction{
  padding: 0 0.5rem !important;
}

}

/* X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1199.98px) { 
.block {
  width: 100%;}
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (max-width: 1399.98px) {  }